@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {

  font-family: 'Heebo', sans-serif;
  background-color: whitesmoke;

}

.header {

  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 25px rgba(62, 104, 95, 0.25);

}

.grid {

  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 15px;
  row-gap: 15px;
  justify-content: center;
  background-color: whitesmoke;

}


.tile {
  
  min-width: 250px;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(62, 104, 95, 0.25);
  cursor: pointer;
  text-align: center;
  transition: 0.75s cubic-bezier(0.44,-0.07, 0.57, 2.3);
  animation: loadAnim 2s;

}

@keyframes loadAnim {

  from {opacity: 0; margin-top: -25px;}
  to   {opacity: 1; margin-top: 0px}
  
}

.tile:hover {

  transform: scale(1.15);
  transition: 0.5s;

}

.tile-elements {

  pointer-events: none;

}

.searchHistory {

  float: left;
  display: table;
  position: sticky;
  margin: 30px 25px 0px 0px;
  left: 25px;
  height: 65vh;
  width: 300px;
  vertical-align: middle;
  border-radius: 15px;
  border: 3px solid #312f2f5e;
  border-style: dashed;
  border-width: 2px;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 25px rgba(62, 104, 95, 0.25);

}

.history-tile {

  text-align: center;
  margin: 5.25px;
  height: 9%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 25px rgba(62, 104, 95, 0.25);
  animation: appear 1s

}

@keyframes appear {

  from  {opacity: 0;}
  to    {opacity: 1;}
 
}

.searchBar {

  width: 25%;
  border: 3px solid rgba(62, 104, 95, 0.35);
  padding: 5px;
  height: 33px;
  border-radius: 5px;
  outline: none;
  color: #949361;

}

.modal {

  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  bottom: 40%;
  border-radius: 10px;
  background-color: teal;
  text-align: center;
  transition: opacity 300ms ease-in-out;

}

.overlaymodal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);

}
  
